* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom:0; 
  top: 0;
  justify-content: space-between;
  align-items: flex-end;
  right:0;
  padding: 10px;
}
nav a, nav button, #tuto button {
  background-color: black;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: .25em .5em;
  border: none;
  border-radius: 2em;
  font-family: inherit;
}
#tuto{
  background-color: white;
  padding: 4em;
  display: none;
  position: fixed;
  top:0; left:0; right: 0; bottom: 0;
  z-index: 1000;

}

#tuto.visible{
  display: block;
}

.layout-mode nav,
.layout-mode #tuto,
.bindery-mode nav,
.bindery-mode #tuto { display: none;}

#print-button[disabled] { color: #666;}
#print-button span { display: block;}
#print-button[disabled] span { display: none;}
#print-button[disabled]::before{
  display: block;
  content: url("loader.gif");
}

@media print {
  nav,
  #tuto {display: none !important;} 
}