#content {
  max-width: 35em;
  margin: 50px;
  line-height: 1.5;
}

#content { display: flex; flex-direction: column; }
#content header { order: 1; }
#content .text { order: 2; }
#content .cover-4 { order: 3; }



figure {
  font-size: .5em;
  line-height: 1;
}
