.cover-2{
  font-size: 0.4;
}

* { color: red;}

 p {
  font-weight: 400;
  margin-top: 0;
 }


 

.📖-running-header {
  font-family: "JetBrainsMono" !important;
  position: absolute;
  bottom: var(--bindery-margin-top);
  top: auto !important;
  font-size: 0.5em;
  z-index: 100;
}

.📖-right .📖-running-header {
  right: var(--bindery-margin-outer);
  transform: rotate(90deg)
  
}
.📖-left .📖-running-header{
  left: var(--bindery-margin-outer);
  transform: rotate(-90deg);
}




/* couv */


header {
  height: var(--h);
  display: flex;
  justify-content: center;
  align-items: center;
}
header figure { 
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: .4em;
}
header hgroup {
  position: absolute;  
  writing-mode: vertical-rl; 
  transform: rotate(-180deg); 
  bottom:var(--bindery-margin-bottom); 
  left:var(--bindery-margin-inner); 
}
header h1 {
    margin: 0;
    font-size: 1em;
}
header h2, header h3 {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
}

header h2 { padding-top: 1cm;}


/* 4e de couv */


#meta {
  font-family: "JetBrainsMono";
  margin-top: 2em;
  bottom:0
}
 #meta > * {
  font-size: 7pt;
  margin: 0 0 .5em;
  max-width: 25em;
 }
