
@font-face {
  font-family: "Messapia";
  src: url("fonts/Messapia-Bold.woff") format("woff"),
      url("fonts/Messapia-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Messapia";
  src: url("fonts/Messapia-Regular.woff") format("woff"),
      url("fonts/Messapia-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SneakyTimes";
  src: url("fonts/Sneaky-Times.woff") format("woff"),
      url("fonts/Sneaky-Times.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Regular.woff") format("woff"),
      url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
      font-weight: 400;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Bold.woff") format("woff"),
      url("fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Italic.woff") format("woff"),
      url("fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Medium.woff") format("woff"),
      url("fonts/JetBrainsMono-Medium.woff") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Publico";
  src: url("fonts/Publico-Light.otf") format("opentype");
  font-weight: 400;
}



body{
  font-family: "Publico";
  font-size: 1.3em;
}

figure, img{
  margin: 0
}
a { color: currentColor;}
 